[2021-07-12 08:57] jinkg opened #1 "Why must use Android Studio Arctic Fox Beta?"
I'm try to use the repo on Android Studio 4.2.2, but report Unresolved reference: livekit...

e: PublisherTransportObserver.kt: (4, 8): Unresolved reference: livekit
e: PublisherTransportObserver.kt: (16, 57): Unresolved reference: LivekitRtc

[2021-07-12 09:12] jinkg commented on #1
Android Studio Arctic Fox Beta report error above too

[2021-07-12 16:47] davidzhao commented on #1
You need to checkout the shared protocol repo as well: https://github.com/livekit/client-sdk-android#dev-environment

[2021-07-12 16:47] #1 closed

[2021-08-12 08:53] Yehsam23 opened #3 "Can not connect when use VPN"
Hello,

I used Android SDK 0.6.5 to connect
I can connect under normal circumstances, but it fails after I turn on the VPN

Edited: I can use Google Meet & other WebRTC connection with my VPN
Use browser open "https://livekit.io/playground" success with VPN

The following is the connected Log

Fail with VPN [fail.txt](https://github.com/livekit/client-sdk-android/files/6974061/fail.txt)
Success wi

[2021-08-13 18:09] davidzhao commented on #3
hi @Yehsam23 can you share how the server is configured? Does it have TURN set up? and which ports have you opened on the firewall?

[2021-08-14 05:35] Yehsam23 commented on #3
@davidzhao
My test is connect to "wss://demo.livekit.io"
And i try android LiveKit sample, now working with my VPN.
When i turn off the VPN, i can connected.

BTW, iOS LiveKit doesn't have this issue with same VPN.

[2021-08-15 13:18] Yehsam23 opened #4 "Android unpublishTrack not triggering an unpublished event on other clients"
When using the Android SDK, use

`localParticipant.unpublishTrack(trackPublication.getTrack());`

Other iOS, Android, Web will not receive "Unsubscribe" notification

But use the same method in the iOS SDK, and you will receive notifications elsewhere

[2021-08-15 17:21] davidzhao commented on #3
This might be due to Android SDK using an older WebRTC library. We'll investigate.

[2021-08-15 17:32] davidzhao commented on #4
Do you see an offer that's sent from the client after this? I believe it needs to re-negotiate when this happens.

[2021-08-16 01:16] Yehsam23 commented on #4
If i use `trackPublication.setMuted(true);`

The log:
`V/SignalClient: sending request: mute {
      sid: "TR_LXexXXtcCW3u"
      muted: true
    }`

=======

Use `localParticipant.unpublishTrack(trackPublication.getTrack());`

The log:
`I/org.webrtc.Logging: CameraCapturer: Stop capture`
`I/org.webrtc.Logging: CameraCapturer: Stop capture: Nulling session`
`I/org.webrtc.Logging: Camera2Session: S

[2021-08-16 23:01] davidzhao commented on #4
that seems like a bug, we'll take a look!

[2021-08-30 16:47] #4 closed

[2021-09-30 11:58] r-bird opened #5 "Build is broken"
## Steps to reproduce

1. `git clone git@github.com:livekit/client-sdk-android.git`
2. open project in Android Studio
3. sync project with gradle files
4. build sample-app

## Found issues

- [ ] `jCenter()` is deprecated, could be replaced with `mavenCentral()`
- [ ] `api 'org.webrtc:google-webrtc:1.0.32006'` is outdated, because binaries are no longer distributed to `https://dl.bintray.com/googl

[2021-09-30 17:03] davidliu commented on #5
Build seems to be working fine here, could you post the full log of what's happening?

jCenter is deprecated, but not all artifacts have migrated to mavenCentral yet, so we're holding off on that (webrtc is still available through jCenter, for example).

We have plans to migrate to an updated version of the webrtc library soon though.

[2021-10-05 13:24] r-bird commented on #5
There is basically one import error in the `livekit-android-sdk` project:
[code]

Maybe you have a matching library that is imported with this line in `sample-app/build.gradle`:
[code]

[2021-10-05 13:41] davidliu commented on #5
Do you have the [protocol repo](https://github.com/livekit/protocol) checked out and existing at the same top level directory?

[2021-10-05 14:35] r-bird commented on #5
Ah, okay. It was checked out _in_ the top level directory. Now it's working.

[2021-10-05 14:35] #5 closed

[2021-10-05 16:17] AlexanderKozhevin opened #6 "Caused by: org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:"
Getting an error when trying to make gradle install

[2021-11-18 13:29] ChenMoGe2 opened #24 "Failed to transform 'C:\Users\Administrator\.gradle\caches\modules-2\files-2.1\org.bouncycastle\bcprov-jdk15on\1.68\46a080368d38b428d237a59458f9bc915222894d\bcprov-jdk15on-1.68.jar' using Jetifier. Reason: IllegalArgumentException, message: Unsupported class file major version 59. (Run with --stacktrace for more details.)"
Android Studio:4.0.2
jdk:1.8
gradle:7.0.2

When I generate release apk of sample app,the console send mistake "Failed to transform 'C:\Users\Administrator\.gradle\caches\modules-2\files-2.1\org.bouncycastle\bcprov-jdk15on\1.68\46a080368d38b428d237a59458f9bc915222894d\bcprov-jdk15on-1.68.jar' using Jetifier. Reason: IllegalArgumentException, message: Unsupported class file major version 59. (Run wi

[2021-11-19 02:08] davidliu commented on #24
We probably don't need jetifier here, so I'll see if we can safely disable it.

Until then, you can try using the solution found here: https://github.com/grpc/grpc-java/issues/8264#issuecomment-863015607

[2021-11-19 02:29] ChenMoGe2 commented on #24
I success using solution in grpc/grpc-java#8264 (comment) and it success,thank you very much!

[2021-11-19 02:48] #24 closed

[2021-11-25 04:57] davidliu commented on #6
Closing since this is probably outdated, as the project structure has changed in the meantime. Feel free to create a new bug if this continues to persist.

[2021-11-25 04:57] #6 closed

[2021-11-25 07:29] davidzhao commented on #3
@Yehsam23 please reopen if this remains an issue. it should be resolved with WebRTC SDK updates.

[2021-11-25 07:29] #3 closed

[2021-11-29 08:52] Yehsam23 opened #27 "Could not find com.github.webrtc-sdk:android:92.4515.02"
I use the version 0.7.0
implementation "io.livekit:livekit-android:0.7.0"

The log:
Could not find com.github.webrtc-sdk:android:92.4515.02.
     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/webrtc-sdk/android/92.4515.02/android-92.4515.02.pom
       - https://jcenter.bintray.com/com/github/webrtc-sdk/android/92.4515.02/android-92.4515.02.pom

[2021-11-29 08:56] davidliu commented on #27
Hi, I believe that dependency is distributed through jitpack. You'll want to add `maven { url 'https://jitpack.io' }` to the list of repositories for your project.

It may look something like this:

[code]

[2021-11-29 09:06] Yehsam23 commented on #27
Thanks it fixed

[2021-11-29 09:06] #27 closed

[2021-12-16 11:29] davidliu opened #31 "Crash upon calling room.disconnect multiple times"
[code]

[2021-12-16 11:43] #31 closed

[2021-12-20 09:57] guangchao-li opened #34 "Report an error c++ addTransceiver failed"
When I open the app, the screen shows  c++ addTransceiver failed

[2021-12-20 10:42] davidliu commented on #34
Are you talking about our sample apps? Which sample app? Can you post the full logcat logs and repro steps?

[2021-12-21 01:10] guangchao-li commented on #34
Yes, I am running sample-app-compse.
***@***.***

发件人: davidliu ***@***.***>
日期: 星期一, 2021年12月20日 下午6:42
收件人: livekit/client-sdk-android ***@***.***>
抄送: Guangchao Li ***@***.***>, Author ***@***.***>
主题: Re: [livekit/client-sdk-android] Report an error c++ addTransceiver failed (Issue #34)

Are you talking about our sample apps? Which sample app? Can you post the full logcat logs and repro steps?

[2021-12-21 09:10] chuangshigu commented on #34
[1.txt](https://github.com/livekit/client-sdk-android/files/7751035/1.txt)

[2022-01-02 16:46] initpwn commented on #34
@guangchao-li @chuangshigu
[This](https://github.com/livekit/client-sdk-android/pull/35) PR would fix it.

[2022-01-03 21:55] davidliu commented on #34
Fixed by #35.

[2022-01-03 21:55] #34 closed

[2022-01-19 09:41] jarvislin opened #42 "Duplicate class in modules jetified-protobuf-java-3.15.1 and jetified-protobuf-javalite-3.17.2"
Hi

I got the error as bellow after integrated this client SDK.
Is there any way to solve this error?

Thank you.

[code]

---
Android Studio Arctic Fox | 2020.3.1 Patch 3

`app/build.gradle`
[code]

`settings.gradle`
[code]

[2022-01-19 11:22] davidliu commented on #42
I created a completely empty project containing only the livekit dependency, and it doesn't raise this error. Do you have other dependencies? Can you post the full list of dependencies you use?

For a workaround, you can probably exclude protobuf-javalite using this [workaround](https://stackoverflow.com/questions/56811328/duplicate-classes-error-after-adding-dialogflow-dependency-to-my-android-ap

[2022-01-20 03:51] jarvislin commented on #42
Hi @davidliu

Thanks for the reply.

I found this SDK conflict with latest Firebase SDKs.
The error message disappeared after I downgraded the Firebase SDKs.

[2022-01-20 03:51] #42 closed

[2022-01-20 06:07] davidzhao commented on #42
@davidliu should we post the workaround in the README somewhere? It seems that firebase is a pretty common package for people to include.

[2022-01-24 09:48] jarvislin opened #44 "lateinit property localParticipant has not been initialized"
Hi,

I integrated this SDK (`0.8.0`) and copy the code snippet from the README.md.
But it always crash when my device handle the connection for the first time.
The code snippet works well after the crash, it won't crash again in short time (maybe 3 mins).

This crash happens to my devices:
Samsung A30s, Android 10
Samsung A70, Android 9
Pixel 3a, Android 11
Vivo Y20, Android 10
Vivo Y15, Android 9

[2022-01-24 13:49] davidliu commented on #44
Should be resolved by https://github.com/livekit/client-sdk-android/pull/45.

[2022-01-25 02:25] jarvislin commented on #44
Thanks for your reply.
I'll test again by using the latest main branch.

[2022-01-25 04:20] jarvislin commented on #44
The latest commit on main branch works like a charm 🚀
Thank you.

[2022-01-25 04:20] #44 closed

[2022-02-03 17:31] davidzhao opened #52 "SIGSEGV when leaving the the room"
Reported by Matthew Brown in Slack:

I'm currently experiencing a SIGSEGV exception when leaving a video call on Android (both in our application which uses the LiveKit Android SDK, and the sample application you provide in the repo). We're using the latest 0.8.1 release, but this problem has existed in prior versions as well I believe.
This particular (or very similar) exception has been mentione

[2022-02-09 08:40] davidliu commented on #52
https://livekit-users.slack.com/archives/C01KVTJH6BX/p1643842426480329

[2022-02-10 12:31] davidliu commented on #52
Reproed on M93, but seems to have disappeared with the M97 (entered and left around 50 times, didn't see it at all).

[2022-02-11 05:58] anishmenon opened #53 "Unresolved reference: livekit"
`e: /home/livekit-pract/client-sdk-android/livekit-android-sdk/src/main/java/io/livekit/android/room/PublisherTransportObserver.kt: (4, 8): Unresolved reference: livekit`

I'm getting this error

[2022-02-11 06:01] davidzhao commented on #53
hey @anishmenon,

Did you follow the dev instructions [here](https://github.com/livekit/client-sdk-android#dev-environment)? I think this may be due to missing the submodules.

[2022-02-11 06:25] anishmenon commented on #53
@davidzhao I've followed , I'm running sample-app
actually, this is not getting imported,

import livekit.LivekitRtc

[2022-02-11 06:27] anishmenon commented on #53
error screenshot :
https://ibb.co/6DBhphM

[2022-02-11 06:29] davidliu commented on #53
@anishmenon do you see the protocol subfolder filled out according to https://github.com/livekit/protocol ?

[2022-02-11 07:47] anishmenon commented on #53
public final class RTCEngine implements io.livekit.android.room.SignalClient.Listener, org.webrtc.DataChannel.Observer {

different error now

screen : https://ibb.co/6DBhphM

[2022-02-11 07:56] anishmenon commented on #53
i was able to build but it shows invalid URL I've specified my livekit wss URL
screen : https://ibb.co/NZjsHSj

[2022-02-11 07:59] anishmenon commented on #53
itts only accepting wss://demo.livekit.cloud

[2022-02-11 16:23] anishmenon commented on #53
its now working  I click where it says save values

[2022-02-11 16:23] #53 closed

[2022-02-11 16:23] anishmenon commented on #53
@davidliu thanks

[2022-02-11 16:26] anishmenon opened #54 "USB camera not listing"
How we can read the External camera now it only reads the front and back camera
see an app that reads all external cameras

https://play.google.com/store/apps/details?id=com.shenyaocn.android.usbcamera

[2022-02-11 17:39] anishmenon commented on #54
can u revert an example

    var videoTrackCaptureDefaults: LocalVideoTrackOptions = LocalVideoTrackOptions()

[2022-02-11 17:41] anishmenon commented on #54
var videoTrackCaptureDefaults: LocalVideoTrackOptions = LocalVideoTrackOptions(deviceId = "/dev/video63")

[2022-02-11 18:34] davidliu commented on #54
Again, get the device name through the process I mentioned in the previous comment.

[2022-02-11 18:56] anishmenon commented on #54
Camera1Enumerator
Camera2Enumerator

are basically throw front camera and back cameras it won't list USB / external

[2022-02-11 19:02] anishmenon commented on #54
https://github.com/libuvc/libuvc
this library will be able to throw all connected USB  video devices

[2022-02-15 14:47] tidoemanuele opened #56 "sometimes no participant video displayed for the new joining participant"
publication source: on certain devices the CAMERA track is returned as UNKNOWN
Step to reproduce:
- connect two devices (tested with huawei p40 lite and lenovo tab M10 HD) in the same room with camera ON and log the value of publication.source before the condition:

[code]
the latest device that join the call has no video participant track in the recyclerView

[2022-02-18 06:35] hadesss123 opened #57 "No message received for SignalResponse.MessageCase.UPDATE"
When user A joins the room first and user B joins the room later, user A does not receive the message that B joins the room (SignalResponse.MessageCase.UPDATE), nor does user A receive the offer message about user B

[2022-02-18 07:22] hadesss123 commented on #57
Client Version: 0.9.0-SNAPSHOT
Server Version: v0.15.4
@davidliu

[2022-02-18 13:19] davidliu commented on #56
@tidoemanuele to be clear, the `TrackPublication.source` is returned as `Track.Source.UNKNOWN`? Or does the publication not appear at all?

[2022-02-18 13:27] tidoemanuele commented on #56
is returned as Track.Source.UNKNOWN as a workaround I fixed the problem like this:
`if (publication.source == Track.Source.CAMERA || publication.source == Track.Source.UNKNOWN)`

[2022-02-18 13:36] davidliu commented on #56
Are the other fields in the TrackPublication populated (e.g. dimensions, sid, name)?

[2022-02-18 13:41] davidliu commented on #57
@hadesss123 Can User B see User A's streams?

@davidzhao This seems like a server issue? Any idea how this could be? Haven't ever really seen this happen.

[2022-02-21 01:38] hadesss123 commented on #57
I can be sure that A and B join the same room. Because A joins the room first, and B joins the room later. "OtherParticipants" in B's "JoinResponse" contains A, but A has not received the SignalResponse.MessageCase.UPDATE added by B @davidzhao @davidliu

[2022-02-21 02:28] davidliu commented on #57
Does it also happen if participant A is on different platform? Can you try with https://example.livekit.io ?

[2022-02-21 07:58] #57 closed

[2022-02-21 09:27] CensorKao opened #60 "Media connections too slow."
Media connections are established 5 seconds more with livekit server. This means that with livekit server the average time between a customer calling the subscription operation and the video being actually played on their device, it could average around 5 seconds. With mediasoup it averages 0.25 seconds.

Android Client Version: 0.9.0-SNAPSHOT
Server Version: v0.15.4

[2022-02-23 19:07] davidliu commented on #60
Should be fixed in main now.

[2022-02-25 06:10] davidliu commented on #52
Closing since SDK is upgraded to m97 now.

[2022-02-25 06:10] #52 closed

[2022-02-25 07:01] davidliu commented on #54
Hmm I think this may be out of scope currently, if the phone doesn't support discovering the USB camera through Camera2.

You can use libuvc/other 3rd party libraries to create your own `org.webrtc.VideoCapturer` and VideoTrack to support this feature.

[2022-02-25 07:01] #60 closed

[2022-02-25 07:04] davidliu commented on #56
In the device logs, can you look for the track pubilcation? They should show up like this:

[code]

[2022-02-28 11:27] DennisBauer opened #62 "Support custom frame processing"
### Intension
Currently the camera access and capturing is handled within the LiveKit SDK.
For AR applications which use ARCore and render some 3D objects into the camera image the camera is accessed by ARCore itself. In order to allow such applications to use LiveKit for an audio and video call the SDK need to provide an option to configure which image frames should be used and sent to WebRTC.

#

[2022-02-28 16:28] davidliu commented on #62
I think we can add a hook into the VideoCapturer (using a custom listener in `onFrameCaptured` for this), though I don't know if it's threadsafe/has any potential timing issues.

Not sure on the timing of when this can be done, but in the mean time, LocalVideoTracks can be constructed with a custom VideoCapturer manually. Here's an example:

[code]
[code]

[2022-03-01 16:01] DennisBauer commented on #62
Using a custom listener can also work, you're right.
Regarding your other suggestion for a temporary solution. I was able to make it work following that approach, only applying some changes here and there. However I used the `SimulcastVideoEncoderFactoryWrapper` which is internal and I was changing it public to make it work.

[2022-03-02 11:06] davidliu commented on #56
User reported back with some logs:

livekit server: commit c9cfb0d362d56e83c72064e5313f102bd2548de0

Track publish request:
[code]

Received update:
[code]

[2022-03-15 11:03] CensorKao opened #64 "Some users can't establish calls."
@davidliu
Its look like I need TURN server. Did i need to force turn on android if they are behind a symmetric NAT?

https://stackoverflow.com/questions/42070803/android-webrtc-and-stun-issue

[2022-03-15 12:28] davidliu commented on #64
There is a TURN server capability available with livekit-server (which, if enabled, will configure the clients to use it). Have you tried that?

https://docs.livekit.io/deploy/#improving-connectivity-with-turn

[2022-03-16 03:50] CensorKao commented on #64
@davidzhao Thanks.

@davidliu But i still want to force the turn to be used for testing purpose. Can you help me?

[2022-03-16 05:15] davidliu commented on #64
@CensorKao To be clear, you have a TURN server set up now, and want to test it, correct?

You can supply a `PeerConnection.RTCConfiguration` in the `ConnectOptions` object when connecting to a room:
[code]

[2022-03-16 07:10] CensorKao commented on #64
@davidzhao

I already tried and found it's embedded TURN server timeout error.

Livekit console logs:

2022-03-16T06:53:19.968Z	INFO	livekit	logger/logger.go:26	using multi-node routing via redis	{"addr": "192.168.122.28:6379"}
2022-03-16T06:53:20.057Z	INFO	livekit	logger/logger.go:26	Starting TURN server	{"turn.portTLS": 443, "turn.externalTLS": false, "turn.portUDP": 443}

My turn server conf:
t

[2022-03-19 17:46] davidzhao commented on #64
your config looks right. I would check for port forwarding on your firewall.

[2022-03-20 01:34] CensorKao commented on #64
@davidzhao I don't have any rules of 443 port on my firewall. Now i install coturn and using 443 as TURN udp and tls port. But it works, this time I use 'optional TURN servers for clients' in livekit.yaml and disabled embedded TURN server.

I also checked my iptables NAT rules.
root@test.com:~# iptables -L -n -t nat
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destinat

[2022-03-22 11:53] CensorKao commented on #64
@bekriebel Can you help us? we want to use embedded TURN server.

[2022-03-25 01:06] bekriebel commented on #64
I'm not quite sure what the issue would be and unfortunately don't have a lot of time available for debugging. At the moment, I'm not using TURN on my hosted cluster because it is still on LiveKit server v0.14.2, which doesn't support the use of external TLS. When I upgrade to the newer versions, I'll be testing implementations of the embedded TURN.

[2022-04-07 20:22] chuckcfs opened #70 "Failed to enable camera on device with only a back camera"
- When trying to start the video using the helper `setCameraEnabled(true)` on a device with only a back camera the call fails with the following error:

[code]

[2022-04-08 14:36] davidliu opened #71 "Resuming camera video track after use in other apps fails to resume"
User reports:

[2022-04-22 17:51] #70 closed

[2022-04-24 02:24] CensorKao commented on #64
@bekriebel @davidzhao

I think I found the reason. TURN Server need public/private address mapping, if the server is behind NAT. When use COTURN, I need to set external-ip=183.145.2.42/192.168.1.3 to get it working. But there dont have this options in livekit.yaml.

The problem is that the embedded TURN cannot be accessed when you use aws instance. If you have a public IP address bound to your ser

[2022-04-25 11:01] davidliu commented on #71
Fixed by a712f59ad052df7634f5f16783b40f6f0fb4d6b1

[2022-04-25 11:01] #71 closed

[2022-04-27 09:16] haohmaruru opened #78 "Crash when connect peer to peer"
I use version 0.9.1 and i have crash log when connect:

Fatal Exception: java.lang.NullPointerException
subscriber.peerConnection.localDescription must not be null.

io.livekit.android.room.RTCEngine.sendSyncState (RTCEngine.kt:705)
io.livekit.android.room.Room.sendSyncState (Room.kt:408)
io.livekit.android.room.Room.onSignalConnected (Room.kt:629)
io.livekit.android.room.RTCEngine$reconnect$job$1

[2022-04-27 09:36] davidliu commented on #78
Is this happening upon the initial connect, or does it occur a little bit
after connection?

On Wed, Apr 27, 2022, 6:16 PM haohmaruru ***@***.***> wrote:

[2022-04-27 09:38] haohmaruru commented on #78
it happeng when initial connect

[2022-04-27 09:39] davidliu commented on #78
Got it, I'll check it out.

[2022-04-27 12:43] hezhii opened #79 "How to set the remote volume"

[2022-04-27 13:58] davidliu commented on #79
Volume can be changed through `AudioTrack.rtcTrack.setVolume(volume: Double)`

[2022-04-27 13:58] #79 closed

[2022-04-28 15:24] davidliu commented on #78
Does this happen consistently or just sometimes?

[2022-05-02 12:18] rourkepoulton99 commented on #42
It just means that you have got conflicting depencies either from firebase or a different group. Whatever you do, do not exclude protobuf because that will cause your app to crash or not work. Instead try and remove the conflicting depency

[2022-05-04 02:42] haohmaruru commented on #78
Sometime it happen and sometime work fine

[2022-05-04 12:47] davidliu opened #80 "Add override customizations for AudioDeviceModule"
https://livekit-users.slack.com/archives/C01KVTJH6BX/p1651666159905679?thread_ts=1651652293.686499&cid=C01KVTJH6BX

[2022-05-04 15:09] symphonybiz commented on #80
That particular device was a Sony Xperia Z5 (E6653)

[2022-05-05 06:00] CensorKoo opened #81 "The other participant failed."
@davidliu

The signaling of both participant is online, but only one party can mediaTrack published successfully. Sometimes it's just audio, no video. This scene cannot be reproduced because it is an production environment. This happens to about 40% of users. We didn't found any of the failed user mediaTrack event logs on Likit-Server. I don't know if it's #77 causes.

[client-sdk-android:v0.9.1]

[2022-05-06 16:15] davidliu commented on #81
Just to confirm, this is on 0.9.1, and not the 0.9.2-SNAPSHOT right?

[2022-05-06 17:00] #80 closed

[2022-05-07 00:15] CensorKao commented on #81
We are using the v0.9.1 version now, and I want to ask if the #77 in the v0.9.2-SNAPSHOT version solves this problem.

[2022-05-17 07:31] #81 closed

[2022-05-17 08:09] haohmaruru commented on #78
hi @davidliu i have another crash with log in version0.9.1 when after use function "LiveKit.connect":

Fatal Exception: java.lang.NullPointerException
subscriber.peerConnection.localDescription must not be null

io.livekit.android.room.RTCEngine.sendSyncState (RTCEngine.kt:705)
io.livekit.android.room.Room.sendSyncState (Room.kt:408)
io.livekit.android.room.Room.onSignalConnected (Room.kt:629)
io.

[2022-05-18 09:03] #78 closed

[2022-06-02 02:49] Yanhui7 opened #89 "Calling room.disconnect(), kotlin.UninitializedPropertyAccessException: localParticipant has not been initialized yet."
Hi, here is my source code:
override fun onDestroy() {
        super.onDestroy()
        binding.speakerVideoView.release()
        viewModel.mutableRoom.value?.disconnect()
        // Undo audio mode changes
        val audioManager = getSystemService(AUDIO_SERVICE) as AudioManager
        with(audioManager) {
            isSpeakerphoneOn = previousSpeakerphoneOn
            isMicrophoneMute = pr

[2022-06-03 06:31] davidliu opened #90 "Subscriber Ice Connection consistently failing after 75s"
user in the community, the subscriber ice connection dies consistently at around the 80s mark, the active ice connection stops receiving any stun binding responses at the 75s mark.

[log.txt](https://github.com/livekit/client-sdk-android/files/8830086/log.txt)
.

[2022-06-20 07:29] davidzhao opened #93 "Echo on certrain android devices"
Reported in Slack community.

I’m playing a lot with RoomOptions.audioTrackCaptureDefaults flags and with LiveKitOverrides.javaAudioDeviceModuleCustomizer (to set UseHardwareAcousticEchoCanceler and UseHardwareNoiseSuppressor). Sometimes I find combination that seems to solve the problem, but the flags configurations end up being completely different on every device I try. On some other devices I

[2022-06-20 13:32] symphonybiz commented on #93
Hello! I think I managed to solve it for all my use cases/devices by not touching the `audioTrackCaptureDefaults` and only tweaking the `setUseHardwareAcousticEchoCanceler()` in the `JavaAudioDeviceModule`. I connect by doing something like this:

[code]

[2022-06-20 13:52] davidliu commented on #93
If it's not too much trouble, could you list the devices this worked on?

[2022-06-20 15:10] symphonybiz commented on #93
Sure:
- Samsung Galaxy S8 (Android 9)
- Pixel 2 (Android 11)
- Sony Xperia Z5 Compact (Android 7)
- Xiaomi Mi 9T (Android 11)

[2022-06-21 05:45] davidzhao commented on #93
@symphonybiz how did you get echo to reproduce? Is this by holding two devices close to each other so they are picking up each other's feedback?

[2022-06-21 07:12] symphonybiz commented on #93
@davidzhao no, actually the opposite. I put one in a different room.

I encountered 2 types of "echo": one is basically a single repetition of what's being said coming back from the offending device, while the other is a very noisy feedback loop.
From the Samsung s8 I would get the first type, while from the Sony Xperia I would get the other.

[2022-06-22 06:47] sahaypratik opened #96 "Unable to run sample app"
While running the build I am getting this error "**Unresolved reference: livekit**" in **livekit-android-sdk** module. Its not able to import classes in **livekit**. What's the fix or workaround so that I can setup and run sample app

[2022-06-22 09:41] davidliu commented on #96
Have you followed the instructions for setting up the dev environment?

https://github.com/livekit/client-sdk-android#dev-environment

[2022-06-22 11:36] sahaypratik commented on #96
@davidliu I am facing one more error when I am trying to implement in new project. Error is **Could not find com.github.webrtc-sdk:android:97.4692.04.** Do I have to add webrtc library explicitly to my project? Here is screenshot of the error [https://i.postimg.cc/L6MkZXjF/Screenshot-2022-06-22-165652.png](url)

[2022-06-22 14:22] #90 closed

[2022-06-23 13:24] davidliu commented on #93
@symphonybiz just to confirm, the proposed solution is to turn *on* the hardware cancellers in devices Q and above?

[This issue](https://github.com/react-native-webrtc/react-native-webrtc/issues/713) seems to imply the opposite, so just want to confirm.

[2022-06-27 05:57] YanxuLi commented on #96
me too.
Unresolved reference: livekit

import io.livekit.android.util.LKLog
**_import livekit.LivekitRtc_** this line
import org.webrtc.*

[2022-06-27 07:21] symphonybiz commented on #93
yes @davidliu this is what it seems to work for us: disabling HW cancellation on < API 29

[2022-06-27 11:26] davidliu opened #101 "Use immutables for flows"
State flows won't refire for internal changes within objects. Need to create immutable versions for flows.

[2022-06-27 12:23] YanxuLi commented on #96
I used the remote library and it worked . By the way, can I use LiveKit in my Java project ?

[2022-06-29 08:34] AchrafAmil opened #105 "`RoomEvent.Reconnected` never received"
After switching from WiFi to 4G the livekit client successfully recovers as I receive a `RoomEvent.Reconnecting` followed by the video stream coming back on track after few ms of being frozen.

Though, I never receive `RoomEvent.Reconnected` so I had to rely on `RoomEvent.TrackPublished` happening after a reconnection to consider the reconnection as successful.

All received events during a reconn

[2022-06-29 09:59] davidliu commented on #105
@AchrafAmil thanks for the report. Does the Room.connectionState stay at `RECONNECTING` or does it switch to `CONNECTED` (without firing the event)?

[2022-06-29 16:14] AchrafAmil commented on #105
It does switch to connected.

Checking the `event.room.state`:
After `RoomEvent.Reconnecting` -> state is `RECONNECTING`
After each of the two `RoomEvent.TrackPublished` happening few seconds after reconnecting -> state is `CONNECTED`

[2022-07-01 12:31] sahaypratik commented on #96
@YanxuLi which remote library did you use and how to did implement in the sample app?

[2022-07-03 02:03] sahaypratik commented on #96
@davidliu   protocol submodule is not an android/ java library so there is no way to import it in android project so how should I add it to the project and initialize it, can you please guide me through the process.

[2022-07-03 02:28] davidliu commented on #96
Again, https://github.com/livekit/client-sdk-android#dev-environment

[2022-07-04 11:39] YanxuLi opened #107 "AudioRecord: start() status -38"
I run the sample app is normal in Android  device，but in my project is not work. Only the video stream works, the audio stream cannot be published, always show red mute icon , I got a log message is AudioRecord: start() status -38, do you known what this means?

[code]

[2022-07-04 14:17] davidliu commented on #107
Can you post full logs?

[2022-07-04 14:26] davidliu commented on #107
Also, can you confirm that you have `RECORD_AUDIO` permissions properly granted, and no other apps are actively recording at the same time?

[2022-07-05 03:23] YanxuLi commented on #107
Hi, this is log，and permission is granted.

2022-07-05 11:09:19.559 16925-17013/com.jxedt.robot E/livekit: Audio focus request granted for VOICE_CALL streams
2022-07-05 11:09:19.563 16925-17013/com.jxedt.robot E/livekit: 开始连接rtc
2022-07-05 11:09:19.588 16925-17031/com.jxedt.robot D/MscSpeechLog: cur rec buf: 640000, cur sync auw size: 640000, cur writen size: 640000
2022-07-05 11:09:19.604 16925-1

[2022-07-05 03:36] YanxuLi commented on #107
And I got the audio track is null in another client app , this proves that the audio track publish was not  success
[code]

[2022-07-05 06:19] YanxuLi commented on #107
I found out why, because voice wake-up was taking up microphone resources.

[2022-07-05 06:19] #107 closed

[2022-07-06 08:47] symphonybiz opened #109 "Unmuting after reconnection does not work"
If LiveKit reconnection happens while I'm muted, then after successful reconnection I have to unmute/mute/unmute myself to get my audio stream working (the first unmute does nothing).

This is reproducible in the sample app.

Repro steps:
- Connect 2 clients on 2 different devices (device-1 and device-2) to the same room
- Test that audio sent from device-1 is heard on device-2
- Mute local partic

[2022-07-06 09:15] davidliu commented on #109
@symphonybiz Thanks for the report, I'll look into fixing this soon.

----

this issue is because we can't publish a muted track.

In JS, we only republish the track after reconnect if it's not muted

[2022-07-10 12:40] davidliu opened #110 "kotlin.UninitializedPropertyAccessException: subscriber has not been initialized yet."
Reported on slack:
https://livekit-users.slack.com/archives/C01KVTJH6BX/p1657183108142129

[code]

[2022-07-15 12:27] workerza opened #116 "Problem with calls via cellular network"
There are two Android devices:

- **A** – connected via Wi-Fi
- **B** – connected via cellular network (4G)

**A** calls **B** via LiveKit. After both users enter the room, **A** does not see the video track from **B**, and **B** does not see the video track from **A**. After a while, the video from **B** becomes visible on side **A**, but with very poor quality. At the same time, messages about t

[2022-07-22 11:19] tidoemanuele opened #117 "room.metadata null"
Hi I need to access the room.metadata but it is always null.
Also in the room events collect is never fired the RoomMetadataChanged

room.events.collect {
                    when (it) {
                        is RoomEvent.RoomMetadataChanged -> {
                            Timber.v { "metadata: ${it.newMetadata}" }
                        }
                    }
                }

[2022-07-22 16:28] davidliu commented on #116
Are there any logs on the server indicating whether it closed from remote?

[2022-07-25 13:47] #117 closed

[2022-07-25 15:00] #110 closed

[2022-07-26 04:03] ducanh3005 opened #122 "Can i use simulcast with VP8 Codec"
I tried to use SimulcastVideoEncoderFactoryWrapper class and i saw that codec i used is H264 so can you help me to change codec to VP8.

[2022-07-26 04:10] ducanh3005 commented on #122
![Screen Shot 2022-07-26 at 11 09 54](https://user-images.githubusercontent.com/61770725/180921105-6e1c2020-8f5d-4149-9c2e-8bc92b6db0b6.png)

[2022-07-26 07:35] Yashgugaliya opened #123 "Video Not Rendering Created new app using Readme"
2022-07-26 13:03:28.237 17201-17370/com.example.livekit W/AudioCapabilities: Unsupported mime audio/x-ima
2022-07-26 13:03:28.242 17201-17370/com.example.livekit W/AudioCapabilities: Unsupported mime audio/mpeg-L1
2022-07-26 13:03:28.243 17201-17370/com.example.livekit W/AudioCapabilities: Unsupported mime audio/mpeg-L2
2022-07-26 13:03:28.244 17201-17370/com.example.livekit W/AudioCapabilities: U

[2022-07-26 12:57] davidliu commented on #123
What device and OS are you using?

[2022-07-26 14:57] Yashgugaliya commented on #123
I am tried with Android and devices samsung, Redmi , Google (Api 30,31).

Android Studio version bumblebee
OS - MAC OS Montery

i have used this code snippet in  new Android Studio project

dependencies {
  implementation "io.livekit:livekit-android:1.1.1"
  // Snapshots of the latest development version are available at:
  // implementation "io.livekit:livekit-android:1.1.2-SNAPSHOT"
}

MainActiv

[2022-07-26 15:00] Yashgugaliya commented on #123
It would be great if i get an sample app or good doc with dependencies included sample project  implementation so it could be easy for other devs also cause https://github.com/livekit/client-sdk-android/tree/main/sample-app  this is little Confusing

[2022-07-27 17:29] davidliu commented on #123
For the sample app, what parts do you find confusing? I'll look into updating the documentation there; it'd help if you could note what's missing.

[2022-07-28 05:05] Yashgugaliya commented on #123
OK in sample app doc
attachVideo(track)
track has not declared so i can't find what is and  protocal  should be included in other apps where i am using livekit and after do lot of R&D i cant render simple video also so atleat an sample app can me made using liveKit dependencies with some simple like showing speaker and particpant view something like this https://github.com/davidliu/LiveKitCompile

[2022-07-28 16:47] davidliu commented on #123
Thanks for the suggestions, I'll look into adding them.

[2022-07-30 06:07] davidliu commented on #123
Hey @Yashgugaliya, I've updated the README and added a much simpler basic version of the sample app [here](https://github.com/livekit/client-sdk-android/tree/main/sample-app-basic). Let me know if you have any further suggestions.

[2022-08-01 05:51] Yashgugaliya commented on #123
HI @davidliu  sample app [here](https://github.com/livekit/client-sdk-android/tree/main/sample-app-basic)  Crash when trying to run. Readme look better still confued in protocol module .
i will explain you my case i want to integrate video meeting in my app
so i have created new Android Project and added live kit Dependencies in my gradle and add sample-app-basic MainActivity code and xml and from

[2022-08-02 04:20] davidliu commented on #122
Check this out for reference:

 https://github.com/livekit/client-sdk-android/blob/main/video-encode-decode-test/src/main/java/io/livekit/android/videoencodedecode/WhitelistSimulcastVideoEncoderFactory.kt

It allows you to specify which video codecs you want to use. Pass in "VP8" to limit it only to VP8.

[2022-08-02 04:20] #122 closed

[2022-08-03 09:26] tidoemanuele opened #125 "sample-app: the speaking participant has no UI feedback"
**Describe the bug**
The sample-app-compose demo already support UI feedback for the speaking participant but this funcionality is still missed in the sample-app

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a room with a valid token
2. give the mic permission
3. Start talking
4. Check that there is no visual feedback to the speaking participant

**Expected behavior**
When a partic

[2022-08-03 12:27] davidliu commented on #123
The protocol module is not needed for building apps. It's only used for building the SDK, and should be ignored unless developing the SDK.

Adding a sample app to a separate repo is probably a no-go for the moment, but I'll add a note in the build.gradle what to change if building independently.

[2022-08-03 12:27] #123 closed

[2022-08-04 05:08] Yashgugaliya commented on #123
I Dit it but the Sample App  basic is not rendering the  video only can you run and check it

[2022-08-04 05:23] davidliu commented on #123
Do you have another participant connected to it?

On Thu, Aug 4, 2022, 2:08 PM Yash Gugaliya ***@***.***> wrote:

[2022-08-04 05:49] Yashgugaliya commented on #123
no only one participate

[2022-08-04 05:54] Yashgugaliya commented on #123
just trying to run Sample App Basic Only Progress. bar is Runing
launch {
                room.events.collect { event ->
                    when (event) {
                        is RoomEvent.TrackSubscribed -> onTrackSubscribed(event)
                        else -> {}
                    }
                }
            }
RoomEvent.TrackSubscribed  Event Is not getting trigger
Else{} its jumping

[2022-08-04 07:05] symphonybiz opened #128 "IllegalArgumentException: Receiver not registered"
**Describe the bug**
We detected the following crash in production, through our crash reporting system. Unfortunately we don't have repro steps.

[code]

**Device Info:**
 - Device: Motorola, Samsung, Xiaomi, LGE, Others
 - OS: Android 7 to Android 12
 - LiveKit SDK version: `io.livekit:livekit-android:1.1.0`

[2022-08-04 07:11] davidliu commented on #123
The sample app will only display the other participant's video, not your
own.

On Thu, Aug 4, 2022, 2:54 PM Yash Gugaliya ***@***.***> wrote:

[2022-08-04 07:12] davidliu commented on #128
Hey @symphonybiz, this should be fixed in 1.1.1. There was a race condition that was addressed in that release.

[2022-08-04 07:13] #128 closed

[2022-08-04 07:17] symphonybiz commented on #128
@davidliu does the same apply to this?

[code]

[2022-08-04 07:18] davidliu commented on #128
That's a separate issue, please file a separate issue for that.

[2022-08-04 07:26] symphonybiz commented on #128
ok thanks!

[2022-08-04 07:30] symphonybiz opened #129 "Fatal Exception: kotlin.UninitializedPropertyAccessException: publisher has not been initialized yet"
**Describe the bug**
We detected the following crash in production, through our crash reporting system. Unfortunately we don't have repro steps.

[code]

**Device Info:**
 - Device: Samsung, Motorola, Xiaomi, LGE, Others
 - OS: Android 7 to Android 12
 - LiveKit SDK version: `io.livekit:livekit-android:1.1.0`

[2022-08-04 07:31] symphonybiz commented on #93
@davidliu from my POV this can be closed, because we're using the `javaAudioDeviceModuleCustomizer` customization above and have no problems now

[2022-08-04 07:33] symphonybiz commented on #109
@davidliu our testers have reported that this is fixed after the changes you made, so we it can be closed from my POV

[2022-08-04 07:43] symphonybiz commented on #129
It probably related to this one? https://github.com/livekit/client-sdk-android/issues/110

[2022-08-04 08:14] Yashgugaliya commented on #123
So how can I test it to render video

[2022-08-05 05:24] davidliu commented on #123
Have another participant join the room.

On Thu, Aug 4, 2022, 5:14 PM Yash Gugaliya ***@***.***> wrote:

[2022-08-06 19:18] #109 closed

[2022-08-08 15:57] davidliu commented on #125
Fixed by #126.

[2022-08-08 15:57] #125 closed

[2022-08-10 12:00] #129 closed

[2022-08-16 07:09] symphonybiz opened #133 "IllegalArgumentException: Receiver not registered: com.twilio.audioswitch.wired.WiredHeadsetReceiver"
**Describe the bug**
We got the following crash:

[code]

**To Reproduce**
Unfortunately we don't have repro steps

**Device Info:**
 - Device: Xiaomi Mi 10
 - OS: Android 12
 - LiveKit SDK version: 1.1.1

[2022-08-16 10:15] davidliu commented on #133
Hey, @symphonybiz, can you recheck the LiveKit SDK version? The line numbers and stack trace seems to indicate this is 1.1.0, prior to the fix for this issue.

[2022-08-17 07:04] symphonybiz commented on #133
You are right @davidliu , it was actually `1.1.0`. Closing this issue, thanks

[2022-08-17 07:04] #133 closed

[2022-08-25 06:06] davidliu opened #135 "Rotation and mirroring"
Investigate adding rotation/mirroring directly to the video renderers.

[2022-08-25 07:27] davidliu commented on #135
https://github.com/livekit/client-sdk-swift/pull/122

[2022-08-25 14:36] davidliu opened #136 "Handle POST_NOTIFICATIONS permission for Android 13"
Android 13 has a new POST_NOTIFICATIONS permission:

https://developer.android.com/develop/ui/views/notifications/notification-permission#wait-to-show-prompt

We currently use a foreground service for screensharing, which requires a notification. We should handle requesting this, or document how library consumers should handle this.

[2022-08-25 18:11] davidzhao commented on #136
I think if the creator of the service should handle requesting for this permission. So if that's us, then it'd be ideal if SDK would handle it.

[2022-08-28 14:26] davidliu commented on #136
Turns out it's an optional permission for our purposes. Added documentation clarifying our behavior in #138.

[2022-08-28 14:26] #136 closed

[2022-09-06 08:10] kamaltyagi02 commented on #116
Hi  @davidliu  , Problem with calls via cellular network and Wifi both,

sometimes no participant video displayed for the new or old joining participant

There are two Android devices:

    A – connected via Wi-Fi
    B – connected via Wi-Fi
    A – connected via cellular network(4G)
    B – connected via cellular network(4G)

A calls B via LiveKit. After both users enter the room, A does not see

[2022-09-07 14:07] kamaltyagi02 commented on #56
**Describe the bug**
Alaways Got websocket failure: null .
SignalClient: websocket failure: null
    java.io.EOFException
        at okio.RealBufferedSource.require(RealBufferedSource.kt:199)
        at okio.RealBufferedSource.readByte(RealBufferedSource.kt:209)
        at okhttp3.internal.ws.WebSocketReader.readHeader(WebSocketReader.kt:119)
        at okhttp3.internal.ws.WebSocketReader.processN

[2022-09-07 16:02] davidliu commented on #56
@kamaltyagi02 your issue is unrelated to this one. Please open a separate issue.

[2022-09-08 14:48] #105 closed

[2022-09-08 14:48] #96 closed

[2022-09-11 15:43] davidliu commented on #116
@kamaltyagi02 this seems like a copy paste of the above post?

[2022-09-14 14:25] davidliu commented on #116
Fixed by #144.

[2022-09-14 14:25] #116 closed

[2022-09-19 09:40] vincentbrison commented on #105
Using 1.1.3, the same issue still appears to occur, if the connection of the client totally fails. It looks like the `RTCEngince` `connectionState` is set to `DISCONNECTED` in this case, because reconnection is immediately failing. When the client recovers connection, only `onEngineConnected()` is called and not `onEngineReconnected()`.

To simulate this kind of client issue, I was enabling airpla

[2022-09-19 10:47] davidliu commented on #105
@vincentbrison Hmm, could you post a full set of logs? Hard to diagnose from this alone.

[2022-09-19 12:42] vincentbrison commented on #105
Of course, here is a log with the following sequence:
- Connecting to a room
- Connected
- Airplane mode on, reconnecting, then disconnected
- Airplane mode off, connected
- Manually disconnecting the call

[code]

[2022-09-19 18:37] davidzhao commented on #105
if it has fired Disconnected, it will not resume automatically reconnecting.

[2022-09-19 21:07] vincentbrison commented on #105
It does not fire `RoomEvent.Disconnected` though, as it seems only disconnected at `RTCEngine` level. From `RoomEvent` perspective it fires `RoomEvent.Reconnecting`, then `RoomEvent.TrackSubscribed` or `RoomEvent.TrackPublished` but no `RoomEvent.Reconnected`. It is weird to go from `RoomEvent.Reconnecting` to `RoomEvent.TrackSubscribed` without passing by `RoomEvent.Reconnected` or even `RoomEven

[2022-09-19 21:41] davidzhao commented on #105
I see, thank you for the clarification.

[2022-09-20 04:00] davidliu commented on #105
Hey @vincentbrison, would you mind grabbing another set of logs, with `LiveKit.loggingLevel = LoggingLevel.VERBOSE`? This would help a lot, thanks.

[2022-09-20 08:39] vincentbrison commented on #105
Here the same sequence using `LiveKit.loggingLevel = LoggingLevel.VERBOSE`, `LiveKit.enableWebRTCLogging = true` and logcat filter `(RTCModule|SignalClient|SubscriberTransportObserver|RTCEngine|PublisherTransportObserver)`
[log.txt](https://github.com/livekit/client-sdk-android/files/9605721/log.txt)

[2022-09-20 13:15] vincentbrison opened #145 "Flip camera error"
**Describe the bug**
When flipping the camera using exactly same code as in the sample https://github.com/livekit/client-sdk-android/blob/e6c9d9b7054b304b2d9b87739da139b32a8a5e02/sample-app-common/src/main/java/io/livekit/android/sample/CallViewModel.kt#L229-L241, the device camera is crashing and is unusable, even by other apps, until full device reboot.

**To Reproduce**
Steps to reproduce the b

[2022-09-20 13:35] vincentbrison commented on #145
Adding that flipping the camera in other web call apps on the same device has no issue (Signal and Slack were tested)

[2022-09-21 08:22] vincentbrison commented on #145
I may found a workaround on this issue. The idea is to ensure, when flipping camera, that the previous one is shut before open the new one. So instead of calling `videoTrack.restartTrack(newOptions)`, I do the following:

[code]

This code is wrapped in a coroutine, with debouncing strategy to avoid spamming concurrent flips as it is triggered by UI action.

[2022-09-21 08:55] vincentbrison opened #146 "Spam enabling and disabling camera let LiveKit client out of control"
**Describe the bug**
When spamming `localParticipant.setCameraEnabled(!localParticipant.isCameraEnabled())`, let say because it is tied to an UI button, LiveKit client could go out of control and start enabling and disabling camera by itself with no action, until the call is terminated.

**To Reproduce**
Steps to reproduce the behavior:
1. Spam `localParticipant.setCameraEnabled(!localParticipant.

[2022-09-21 12:32] benoitletondor opened #147 "Crash when flipping camera too fast"
**Describe the bug**
When flipping the cameras too fast on Pixel 6 Pro I end up with a crash

**To Reproduce**
Steps to reproduce the behavior:
1. Flip camera super quick like 10 times

**Expected behavior**
No crash

**Device Info:**
 - Device: Pixel 6 Pro
 - OS: Android 13
 - LiveKit SDK version: `io.livekit:livekit-android:1.1.1`

**Additional context**

Crash log:

[code]

Crash happens here:

[2022-09-21 13:30] #146 closed

[2022-09-21 14:20] davidliu commented on #147
Are there any logs prior to the crash indicating anything about the camera status?

[2022-09-21 14:50] benoitletondor commented on #147
Nope didn't get anything particular, sorry

[2022-09-22 06:07] davidliu commented on #145
When it gets into this state, does force stopping the app fix the camera for other apps? Or still permanent until reset?

How fast are you flipping? Is this human taps or programmatically repeated flipping?

[2022-09-22 08:09] vincentbrison commented on #145
Force stopping does nothing. The camera is still locked, and no app, even the native camera app of the phone can use it. The only solution is to reboot the phone.

By hand, and it can happen by flipping once every 10 seconds. We already debounced the flip click. It looks like the real issue if opening another camera without waiting the previous one to be shutdown, so it only needs one flip to happ

[2022-09-22 14:24] davidliu commented on #145
Interesting. Does it seem to only happen on this particular phone?

Also, I'm guessing that means that if two cameras are opened at the same time for this particular phone, it'll get into this bad state?

[2022-09-22 14:32] vincentbrison commented on #145
I only have a Nexus 6P and a Samsung S10e as physical devices, so as far as I am concerned, yes it only happens on this particular phone, but I would not be surprise if it would happen on other phones of the same brand. BTW it does not look as a hardware defect, as other third party apps like Signal, or WhatsApp have no issue at all flipping the cameras during call on this phone.

From the workaro

[2022-09-22 14:52] davidliu commented on #145
IIRC, CameraX is a convenience wrapper around Camera2, so probably won't change much.

I'll check against Signal's implementation and see if there's anything there we can glean from it.

[2022-09-22 15:14] vincentbrison commented on #145
It is based on Camera2 but it looks like it does [a lot more](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/camera?source=post_page---------------------------%2F%2F%2F%2F&autodive=0). In particular their implementation is tested against a broad range of [devices](https://developer.android.com/training/camerax/devices).

[2022-09-22 15:14] davidliu commented on #145
Looks like there's an alternate method in WebRTC for switching cameras, I'll put up a fix for this; will likely be a new method on `LocalTrack` for doing this.

[2022-09-22 17:09] #145 closed

[2022-09-22 17:13] davidliu commented on #145
A new `switchCamera` method has been added to `LocalTrack`. You can pass in a deviceId or cameraPosition to specify which one to use.

See the example app for usage:

https://github.com/livekit/client-sdk-android/blob/main/sample-app-common/src/main/java/io/livekit/android/sample/CallViewModel.kt#L245

[2022-09-22 17:14] #147 closed

[2022-09-22 17:16] benoitletondor commented on #147
I'm really unsure #149 really makes sure the crash won't happen. The `TODO()` that led to the crash is still in the code: https://github.com/livekit/client-sdk-android/blob/main/livekit-android-sdk/src/main/java/io/livekit/android/room/track/LocalVideoTrack.kt#L223

[2022-09-23 05:02] davidliu commented on #147
SwitchCamera uses a different code path that won't run into that issue.

[2022-09-24 06:52] SudoDios opened #150 "Release version without compose"
Hi.
I don't use compose while livekit-android downloads it

[2022-09-25 05:30] davidzhao commented on #150
if your app doesn't use compose, it will not be included in the resulting binary.

[2022-09-25 05:30] #150 closed

[2022-09-25 05:45] SudoDios commented on #150
Does that mean my software can't use this sdk?

[2022-09-26 04:38] davidliu commented on #150
No, it'll simply be stripped out during the optimization process when making a release build.

[2022-09-26 06:05] SudoDios commented on #150
Very goood 👍.
thanks 🌹

[2022-10-07 07:08] kamaltyagi02 opened #152 "Video not place correct in full window"
**To Reproduce**
I integrated version 0.9.1 and even version 1.1.1 of Android SDK

Connecting two android phones A to B, audio and video flows only from one side to another.

However, I see video from the remote side coming into the small window when I scroll sideways in the small window.

It seems like the audio triggers when it starts from the side where the video is supposed to come. So then th

[2022-10-10 15:11] davidliu commented on #150
As a side note, for those avoiding using `minifyEnabled` or simply wish assurance, you can manually exclude the compose dependency in your gradle file like so:

[code]

[2022-10-11 08:14] davidliu commented on #147
switchCamera should be used instead of restartTrack, so that code path
won't be hit.

On Fri, Sep 23, 2022, 2:16 AM Benoit Letondor ***@***.***>
wrote:

[2022-10-21 09:29] davidliu commented on #152
It's a little unclear what you mean here, can you provide screenshots or a reproducible example?

[2022-10-21 10:22] davidliu commented on #62
Looks like this was addressed in #68. VideoTracks with custom VideoCapturers can created using `LocalParticipant.createVideoTrack` with the `VideoCapturer` overload:

https://github.com/livekit/client-sdk-android/blob/a8abbefa06ecf2a15b01e3c76e9ee99d80d13502/livekit-android-sdk/src/main/java/io/livekit/android/room/participant/LocalParticipant.kt#L67

[2022-10-21 10:22] #62 closed

[2022-10-21 11:52] davidliu commented on #54
Closing as not planned.

[2022-10-21 11:52] #54 closed

[2022-10-24 16:18] davidliu commented on #105
@vincentbrison this should be fixed now in #158.

[2022-10-24 16:34] vincentbrison commented on #105
Thanks!

[2022-10-25 12:52] davidliu commented on #101
@AchrafAmil note that the track isn't replaced when camera is flipped; the LocalVideoTrack instance remains the same.

[2022-10-25 12:55] AchrafAmil commented on #101
Yes! Until it's made immutable and would therefore inevitably be a new instance.

[2022-10-26 15:54] Arm63 opened #159 "End call crash (v1.1.4)"
**Describe the bug**

On version, 1.1.4 try to end calls with the calling room.disconnect(), the crash is happens

Create room in ViewModel
    val audioHandler = AudioSwitchHandler(app)
    val room = LiveKit.create(
        appContext = app,
        options = RoomOptions(adaptiveStream = true, dynacast = true),
        overrides = LiveKitOverrides(
            audioHandler = audioHandler

[2022-11-11 06:40] deepkiran opened #160 "Taking around 3 second to Listen voice of opponent users"
we are trying to use as audio / video call, but when opposite user connect to room, after connection it takes around 3 seconds to wait for voice to listen.

we are just using audio to to connect voice, Video is not enabled for this case./we want to speed up audio call.

Steps to reproduce the behavior:
1) connect user 1 in room
2) connect user 2 in room, after user connected start counting 1,2,3 .

[2022-11-14 12:58] davidliu commented on #160
Do other platforms behave similarly or faster when connecting to your server?

[2022-11-14 15:21] davidliu commented on #159
Looks like there's a race condition here with the RTCEngine processing a leave message while Room.disconnect() is called. This might take some time to fix.

In the meantime, I think reversing the order might be a workaround (disconnecting the room object before deleting the room from the server).

[2022-11-18 07:05] deepkiran commented on #160
android and ios sdk both connects slower.
if any configuration need to be done , pls suggest any changes if nay need to so on server.

[2022-11-19 01:54] davidzhao commented on #160
You should see the ping times you are getting between your client and server. WebRTC connections perform several round trips during connection establishment and publishing. Can you try with the [example app](https://example.livekit.io/)? How fast does it publish?